/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&family=Jost:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: "#dd5903";
}

body {
  background-color: #0e0d0a;
  font-family: "Jost", sans-serif;
  scroll-behavior: smooth;
}
.container {
  @apply max-w-[1488px] mx-auto px-[1rem] md:px-[2rem] lg:px-[4rem];
}
.full_max_width {
  @apply max-w-[1488px];
}
.flexCenter {
  @apply flex items-center justify-center;
}
.flexBetween {
  @apply flex justify-between;
}
.flexItem {
  @apply flex items-center;
}
.grid_place_center {
  @apply grid place-items-center;
}
.pText {
  @apply text-secondary tracking-wide text-lg leading-relaxed mt-3;
}
.section_gap {
  @apply mt-[4rem] lg:mt-[7rem];
}
/* Banner-content--------------------------- */
.banner_title_text {
  @apply text-[2rem] md:text-6xl lg:text-7xl font-semibold text-center leading-9 lg:leading-none;
}

/* section-title----------------------------- */
.top_title {
  @apply text-lg font-jost font-semibold tracking-wider uppercase text-[#dd5903];
}
.bottomTitle {
  @apply text-4xl md:text-5xl lg:text-6xl font-semibold;
}

/* button---------------------------------- */
.primary_button {
  @apply px-5 lg:px-6 py-3 bg-[#dd5903] text-sm md:text-base font-medium text-[#ffffff] tracking-wider uppercase;
}
.menuItem_button_fill {
  @apply px-5 lg:px-6 py-[4px] rounded-full bg-[#dd5903] text-sm md:text-base font-medium text-[#ffffff] tracking-wider;
}
.menuItem_button_outLine {
  @apply px-5 lg:px-6 py-[4px] rounded-full border-[1px] border-[#dd5903] text-sm md:text-base font-medium text-[#ffffff] tracking-wider;
}
.button_border_animation {
  @apply inline-block after:content-[''] after:block after:w-full after:h-[2px] after:transition-all after:ease-in-out after:duration-300 hover:after:w-0
}
.button_border_animation_end_to_start {
  @apply inline-block after:content-[''] after:block after:w-full after:h-[2px] after:transition-all after:ease-in-out after:duration-300 hover:after:w-0
}
